In [192]:
import pandas as pd
import numpy as np
import re

In [193]:
#Среднедушевые денежные доходы (в месяц), руб.
per_capita_cash_income = pd.read_excel('data/cash_real_income_wages_2015_2020.xlsx', sheet_name='per_capita_cash_income')
#Реальные денежные доходы, в процентах к предыдущему году
per_capita_cash_income_real_incomes = pd.read_excel('data/cash_real_income_wages_2015_2020.xlsx', sheet_name='real_incomes')
#Среднемесячная номинальная начисленная заработная плата, руб
formal_wage_paid = pd.read_excel('data/cash_real_income_wages_2015_2020.xlsx', sheet_name='formal_wage_paid')
#Реальная начисленная заработная плата, в процентах к предыдущему году
formal_wage_paid_real_pay = pd.read_excel('data/cash_real_income_wages_2015_2020.xlsx', sheet_name='real_pay')

In [194]:
def index_nomalizer(ind: list) -> list:
    accep_list = ['край', 'обл', 'респуб', 'москв', 'автон', 'петерб', 'севаст']
    for n in range(len(ind)):
        flag = 0
        ind[n] = ind[n].lower().replace('\n', ' ').replace('.', '').replace('  ', ' ')
        for elem in accep_list:
            if elem in ind[n]:
                flag = 1
        if 'безавтоном' in ind[n]:
            flag = 0
        if not flag:
            ind[n] = np.nan
    return ind

In [ ]:
email = "tony@tiremove_thisger.net"
m = re.search("remove_this", email)
email[:m.start()] + email[m.end():]

In [195]:
i = index_nomalizer(list(formal_wage_paid_real_pay['region']))
# formal_wage_paid_real_pay.reindex(i)
# print(len(i) - i.count(np.nan))
formal_wage_paid_real_pay['region'] = i
formal_wage_paid_real_pay.dropna(axis=0).reset_index(inplace=True)
formal_wage_paid_real_pay

                          region   2015   2016   2017   2018   2019   2020
0                            NaN  91.01  100.8  102.9  108.5  104.8  103.8
1                            NaN   90.3  101.7  101.6  108.8  106.2  104.2
2           белгородская область   93.2  100.8  104.5  106.8  104.0  104.8
3               брянская область     89   98.5  103.2  107.0  104.0  102.9
4           владимирская область     91   99.2  103.6  109.9  103.5  103.0
..                           ...    ...    ...    ...    ...    ...    ...
93              амурская область     88   96.0  107.4  110.1  106.0  105.2
94           магаданская область   92.8   98.9  104.7  110.0  105.9  105.0
95           сахалинская область   99.8  100.0  101.9  111.0  108.8  101.7
96  еврейская автономная область   91.5   96.8  102.6  110.4  102.6  103.7
97    чукотский автономный округ   96.3   99.9  102.8  104.0  102.9  110.5

[98 rows x 7 columns]

In [196]:
formal_wage_paid_real_pay

                          region   2015   2016   2017   2018   2019   2020
0                            NaN  91.01  100.8  102.9  108.5  104.8  103.8
1                            NaN   90.3  101.7  101.6  108.8  106.2  104.2
2           белгородская область   93.2  100.8  104.5  106.8  104.0  104.8
3               брянская область     89   98.5  103.2  107.0  104.0  102.9
4           владимирская область     91   99.2  103.6  109.9  103.5  103.0
..                           ...    ...    ...    ...    ...    ...    ...
93              амурская область     88   96.0  107.4  110.1  106.0  105.2
94           магаданская область   92.8   98.9  104.7  110.0  105.9  105.0
95           сахалинская область   99.8  100.0  101.9  111.0  108.8  101.7
96  еврейская автономная область   91.5   96.8  102.6  110.4  102.6  103.7
97    чукотский автономный округ   96.3   99.9  102.8  104.0  102.9  110.5

[98 rows x 7 columns]